/*COLOR PALETTE 
PASTEL BLUE / #c0f9ff 
LIGHT PINK = #fce3eb
DARKER PINK = #c9b5bc
GREY LIGHT PINK = #fcf9fa
CYAN BLUE / #37edff

FONTS
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'VT323', monospace;*/

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	margin: 0 auto;
	color: inherit;
	font-size: 14px;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

h1, h2, h3, h4, h5,h6 { 
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	letter-spacing: -0.05em;
	color: #262626;
}

.ms-dos {font-family: 'VT323', monospace;}

p {color: #666666;}

.thin {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: -0.05em;
	color: #0e242f;
}

.subtitle {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #666666;
}

.clearfix {clear: both;}

/* LINKS BUTTONS & FORMS */

a {color: #262626;}
a:hover {color: #cccccc;}

input::placeholder, textarea::placeholder {
	font-size: 14px;
	font-style: italic;
}

.btn, input[type="submit"] {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	text-transform:  uppercase;
	border-radius: 0;
}

.btn-lg {padding: .7rem 1.5rem;}

.btn-default-primary, .btn-default-secondary, .btn-default-light {    
	-webkit-box-shadow: 5px 5px 0 0 rgba(38,38,38,1);
	-moz-box-shadow: 5px 5px 0 0 rgba(38,38,38,1);
	box-shadow: 5px 5px 0 0 rgba(38,38,38,1);
	border: 2px solid #262626;
}

.btn-default {
	color: #ffffff;
	background-color: #262626;
	border: 2px solid #262626;
}

.btn-default:hover {
  color: #262626;
  background-color: #ffffff;
}

.btn-default-outline {
	color: #262626;
	background-color: #ffffff;
	border: 2px solid #262626;
}

.btn-default-outline:hover {
	color: #ffffff;
  	background-color: #262626;
}

.btn-default-primary {background-color: #c0f9ff; color: #262626;}
.btn-default-primary:hover {background-color: #c0f9ff; color: #262626;}

.btn-default-secondary {background-color: #fce3eb; color: #262626;}
.btn-default-secondary:hover {background-color: #fce3eb; color: #262626;}

.btn-default-light {background-color: #ffffff; color: #262626;}
.btn-default-light:hover {background-color: #ffffff; color: #262626;}

.btn-default-primary:active, .btn-default-primary:focus, 
.btn-default-secondary:active, .btn-default-secondary:focus, 
.btn-default-light:active, .btn-default-light:focus {
	outline:0;
	-webkit-box-shadow: 5px 5px 0 0 rgba(38,38,38,1);
	-moz-box-shadow: 5px 5px 0 0 rgba(38,38,38,1);
	box-shadow: 5px 5px 0 0 rgba(38,38,38,1);
	border: 2px solid #262626;
}

/* GENERAL */

.parallax {
	background-size: cover;
	background-attachment: fixed;
	background-position:center center;
	background-repeat: no-repeat;
}

.text-box {
	background: #ffffff;
	border: 2px solid #262626;
	-webkit-box-shadow: 10px 10px 0 0 rgba(38,38,38,1.0);
	-moz-box-shadow: 10px 10px 0 0 rgba(38,38,38,1.0);
	box-shadow: 10px 10px 0 0 rgba(38,38,38,1.0);
}

.single-page-header {margin-top:140px;}

.section-title {min-height: 100px; padding: 30px 0;}

.hero {	background-color: #fce3eb;}

/* BREADCRUMBS */

/* Single Page style */

.page-header-breadcrumb {
	background-color: #fce3eb;
	font-size: 16px;
	min-height: 100px;
	padding: 30px 0;
}

.page-header-breadcrumb li.breadcrumb-item a {color: #c9b5bc;}
.page-header-breadcrumb li.breadcrumb-item a:hover {color: #262626;}

.page-header-breadcrumb .breadcrumb-item.active {color: #262626;}
.breadcrumb-item + .breadcrumb-item::before {color: #c9b5bc;}

/* General Breadcrumbs */

.breadcrumb {
	background-color: transparent;
	border-radius: 0;
}

li.breadcrumb-item {
	font-family: 'Raleway', sans-serif;
	letter-spacing: -0.05em;
}

/*/ CARDS */

.card {	border: none; border-radius: 0;}

.card-footer {background-color: transparent;}


/* ---------------------------
	SECONDARY NAVIGATION
--------------------------- */

#secondary-navigation .alert {
	background:  #262626;
	border: none;
	border-radius: 0;
	min-height: 20px;
	padding: 10px 0 5px;
	margin-bottom: 0;
}

#secondary-navigation .close {
	color: #ffffff;
	text-shadow: none;
	opacity: 1;
	padding: .5rem 1.25rem;
}

#secondary-navigation h6, #secondary-navigation h6 a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 700 !important;
	text-transform: uppercase;
	font-size: 14px;
}

@media (max-width: 576px) {
	#secondary-navigation h6, #secondary-navigation h6 a {
		font-size: 10px;
	}

	#secondary-navigation .close {padding: 0.25rem 1.25rem;}
}


/* ---------------------------
	MAIN NAVIGATION
--------------------------- */

#main-navigation {
	background-color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 100px;
}

/* Fixed nav */

.fixed-nav {
	-webkit-box-shadow: 0 5px 5px 0 rgba(38,38,38,1);
	-moz-box-shadow: 0 5px 5px 0 rgba(38,38,38,1);
	box-shadow: 0 5px 5px 0 rgba(38,38,38,1);
}

/* Icons navigation */

.nav-button i {
	font-size: 24px;
    border: 2px solid #262626;
    border-radius: 50%;
    background: #ffffff;
    color: #262626;
    padding: 15px 17px;
}

.nav-icon i {
    font-size: 24px;
    border: 2px solid #262626;
    border-radius: 50%;
    background: #ffffff;
    padding: 12px;
    color: #262626;
}

/* LEFT NAVIGATION / MODAL */

.modal-backdrop {z-index:999;}

#main-navigation .modal {background-color: rgba(0,0,0,0.8);}

#main-navigation .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

#nav-left .close {
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}

#nav-left .modal-content {font-size: 35px;}

#nav-left .modal-content .list-group-item {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	letter-spacing: -0.05em;
	text-transform: uppercase;
}

#nav-left .list-group-item {
	background: transparent;
	border: none;
}
#nav-left .list-group-item.active {
    color: #262626;
    background: #fce3eb;
}

#nav-left .list-group-item-action {
	border-radius: 0;
	box-shadow: none;
	color: #ffffff;
}

#nav-left .list-group-item-action:focus, #nav-left .list-group-item-action:hover {
    color: #262626 !important;
    text-decoration: none;
    background-color: #fce3eb !important;
}

.nav-submenu a { 
	font-size: 26px;
	padding: .75rem 1.25rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: -0.05em;
	text-transform: uppercase;
}

#nav-left .form-control {
    height: 50px;
    padding: .375rem .75rem .375rem 2.5rem;
    font-size: 1rem;
    background-image: url('../img/icon-search.png');
    background-repeat: no-repeat;
    background-size: 31px 34px;
    background-position: 0 5px;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid #ffffff;
    border-right: 0;
}

#nav-left input[type="search"]:focus {
	outline: 0 !important;
	box-shadow: none;
}

#nav-left .modal-footer h3 {
	letter-spacing: 0 !important;
	font-weight: 400 !important;
}

#modal-social-links a {color: rgba(0,0,0,0.9); font-size: 20px;}

#modal-social-links i {
	background-color: #fce3eb; 
	padding:10px;
	border-radius: 5px;
	margin-left: 0.25rem;
}

#modal-social-links .fa-facebook-f {
	padding: 10px 15px;
}

/* RIGHT NAVIGATION */

#nav-right .dropdown-toggle::after {display: none;}

.right-dropdown {
    top: 72px;
    left: -50px;
    z-index: 1000;
    padding: 1.0rem 0;
    margin: .125rem 0 0;
    font-size: 0.9rem;
    border: 2px solid #262626;
    border-radius: 0;
}

.arrow-black {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #262626;
  border-left: 15px solid transparent;  
  position: absolute;
  top: -30px;
  left: 65px;
}

.arrow-white {
    width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #ffffff;
  border-left: 13px solid transparent;  
  position: absolute;
  top: -26px;
  left: 67px;
}

#nav-right .dropdown-item {
    padding: .5rem 1.5rem;
    color: #666666;
}

.right-dropdown .dropdown-item:hover{
	background: #cccccc;
	color: #262626 !important; 
}

/* LOGO */

#header-logo {height: 60px;}

/* ---------------------------
	HEADER SLIDER
--------------------------- */

#header {margin: 170px auto 100px auto;}

#header-caption .ms-dos {font-size: 100px;}

#header-anim {margin-top:-30px;}

.header-img {
	width: 100%;
	height: 650px;
	background-image: url('../img/header-index.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
	z-index: -1;
}

#header .text-box {
	padding: 30px 60px;
	margin-top: -100px;
}

@media (max-width: 1024px) {
	.text-box {
		width: 85%;
		margin: 0 auto;
	}
}

/* ---------------------------
	SECTION NEW
--------------------------- */

#new {
	margin: 100px 0 100px;
	position: relative;
}

/* CAROUSEL */

#slider .img-container {
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

#slider .img-1 {
	background-image: url('../img/slider-1.png');
	background-position: 0 -20px;
}

#slider .img-2 {
	background-image: url('../img/slider-2.png');
	background-position: 0 -10px;
}

#slider .img-3 {
	background-image: url('../img/slider-3.png');
	background-position: 0 -30px;
}

#slider .carousel-caption {
	position: absolute;
	top: 7%;
	left: 0;
	text-align: right;
	width: 400px;
	height: 100px;
	background-color: #fce3eb;
	padding: 20px 30px;
}

#new .text-box { 
	padding: 60px 40px;
	margin: 30px 0 30px -60px;
}

#new .text-box p {margin-bottom: 30px;}

/* TICKER */

#tickerloop-new {
  overflow: hidden;
  white-space: nowrap;
  width: 100% !important;
}

#loop-new-1, #loop-new-2 {
	color: #fce3eb;
	font-size: 120px;
	font-weight: 400;
	font-family: 'VT323', monospace;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	margin-top: -30px;
	display: inline-block;
}

#loop-new-1 {animation: marquee 20s linear infinite;}

#loop-new-2 {animation: marquee2 20s linear infinite; animation-delay: 10s;}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}


@media (max-width:1024px) { 

	#slider .img-1, #slider .img-2, #slider .img-3 {
		background-position: center top;
	}

	#slider .carousel-caption {
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	background-color: transparent;
	}

	#slider .carousel-caption h1{font-size: 30px;}

	#new .text-box {margin: -100px auto 0 auto;}

	.new-slider-col {display: block; max-width: 100%; flex: 0 0 100%;}

	.new-textbox-col {display: block; max-width:100%; flex: 0 0 100%;}
	
	#tickerloop-new {display: none;}
}


/* ---------------------------
	SECTION ESHOP
--------------------------- */

#eshop {background-image: url('../img/bg-eshop-2-01.png');}

#eshop ul li:last-child {margin-right:0.5rem;}

.btn-eshop {min-width: 220px;}

@media (min-width: 768px) and (max-width: 1024px) {
	
	#eshop ul li:last-child {
		text-align: right !important;
	}
}

/* ---------------------------
	FOOTER
--------------------------- */

/* SECTION HERO */

.ticker {text-align: center;}

.simple-ticker {
  position: relative;
  width: 100%;
  border: none;
  min-height: 150px !important;
  overflow: hidden;
  padding: 40px 0 50px;
}

.simple-ticker ul {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.simple-ticker ul li {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {

	.simple-ticker {
	  position: relative;
	  width: 100%;
	  border: none;
	  min-height: 150px !important;
	  overflow: hidden;
	  padding: 50px 0 20px;
	}
	
	.simple-ticker h2 {font-size: 18px;}
	.simple-ticker h6 {font-size: 14px;}
}

/* SECTION INSTABLOG */

#instablog .title {
	height: 150px;
	padding: 60px 0;
}

#instablog .card-img {border-radius: 0;}

.img-thumb {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    orphans: 1;
    widows: 1;
}

#instablog .card-columns .card {margin-bottom: 0;}

.big-thumb {
	background-image: url('../img/instagram-5.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#instablog .card-img-overlay {
  background-color: rgba(0,0,0,0.6);
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

#instablog .card-1:hover .overlay-1 {
	visibility: visible;
	opacity: 1;
	cursor: pointer;
}

#instablog .card-img-overlay i {font-size: 36px;}

#instablog .date {
	font-size: 12px;
	font-weight: 500;
}

@media (min-width: 992px) and (max-width: 1280px) {

	#instablog .card-text i {font-size: 16px;}
	#instablog .card-text p {
		font-size: 12px;
		margin: 0.2rem 0 0.2rem 0 !important;
		hyphens: auto;
	}
}

/* SECTION NEWSLETTER */

#newsletter {
	background-color: #fce3eb;
	background-image: url('../img/bg-eshop-2-01.png'); 
	padding: 84px 0 83px;
}

#newsletter legend h4 {
	background-color: #ffffff;
	padding: 15px 60px;
	min-height: 50px;
	margin: 0 auto 15px;
	border: 2px solid #262626;
}

#newsletter fieldset label {display: none;}

#newsletter fieldset input[type="email"] {
	border: 2px solid #262626;
	padding-left: 25px;
	border-radius: 0;
}

#newsletter fieldset input[type="submit"]{height: 50px;}

#newsletter fieldset input { 
	height: 50px;
	width: 350px;
}

@media (max-width: 768px){

	#newsletter {padding: 60px 15px;}

	#newsletter fieldset input[type="email"] {max-width: 100%;}

}

/* SECTION FOOTER CONTENT */

#footer-content {
	padding: 80px;
	background-color: #000000;
}

#social-links a {color: #ffffff;}

#social-links i {
	font-size: 24px;
	color: #000000;
	background-color: #c0f9ff;
	padding: 10px;
	border-radius: 5px;
}

#footer-content h6 {
	font-weight: 700;
	color: #ffffff;
}

#footer-content li a {color: #ffffff;}

@media (max-width: 768px){
	
	#footer-content {
	padding: 60px 30px;
	text-align: center;
	}

	#footer-logo {margin-bottom: 60px;}
}

/* SECTION COPYRIGHT */

#footer-copyright {
	background-color: #262626;
	color: #ffffff;
	height: 50px;
	padding: 10px 0;
}

#footer-copyright p {font-size: 12px;}


/* ----------------------------------------------------------------------------------------------------

	ESHOP PAGE

---------------------------------------------------------------------------------------------------- */

/* ---------------------------
	SECTION HEADER
--------------------------- */

#header-eshop {
	height: 400px;
	background-image: url('../img/bg-eshop-2-01.png'); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-attachment: fixed;
	margin-top: 150px;
}

#header-eshop span {
	font-size: 150px;
	background-color: #fce3eb;
	padding: 10px 60px;
}

.parallax-banner .parallax-banner__right-text {
    position: absolute;
    right: 0;
    top: 80px;
}

.parallax-banner .parallax-banner__left-text {
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width: 576px) {
	
	#header-eshop span {
	font-size: 100px;
	background-color: #fce3eb;
	padding: 10px 60px;
	}
}
/* ---------------------------
	SECTION ESHOP BREADCRUMBS
--------------------------- */

#eshop-breadcrumbs li.breadcrumb-item {font-size: 36px; font-weight: 900;}

#eshop-breadcrumbs .breadcrumb {
	border-bottom:  2px solid #262626;
	padding: .75rem 0;
}

#eshop-breadcrumbs li.breadcrumb-item a {color: #cccccc;}
#eshop-breadcrumbs li.breadcrumb-item a:hover {color: #262626;}

#eshop-breadcrumbs .breadcrumb-item.active {color: #262626;}
#eshop-breadcrumbs .breadcrumb-item::before {color: #cccccc;}

@media (max-width: 576px) {
	#eshop-breadcrumbs li.breadcrumb-item {
		font-size: 24px;
	}
	
}

/* ---------------------------
	SECTION PRODUCTS
--------------------------- */

/*FILTERS */

#products .sticky-top {
    top: 143px;
    z-index: 1029;
}

#filter-button {
	background-image: url('../img/icon-caret-down.png');
	background-repeat: no-repeat;
	background-position: 95% center;
}

#eshop-filters-collapse .card {
	border: 2px solid #262626;
	padding-top: 30px;
	padding-bottom: 60px;
}
#eshop-filters-collapse .main-category {font-weight: 600;}

#category-1, #category-2, #category-3, #category-4, #category-5 {
	margin-bottom: 15px;
}

/* PRODUCT GRID */

#product-grid .card {
	min-width: 255px; 
	margin-bottom: 15px;
}

#product-grid .price {font-size: 18px;}

/* PAGINATION */

#product-grid .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -3px;
    line-height: 1.25;
    color: #262626;
    background-color: #fff;
    border: 2px solid #262626;
    border-radius: 0;
    font-weight: 400;
    text-transform: uppercase;
}
#product-grid .page-link:hover {
	border: 2px solid #262626;
	background-color: #262626;
	color:#ffffff;
}

#product-grid .page-link:focus {
	box-shadow: none;
}

/* ---------------------------
	SECTION TREND CAROUSEL
--------------------------- */

#eshop-trend-carousel {
	background-color:  #fcf9fa;
	padding: 100px 0 100px;
}

#eshop-trend-title {margin-bottom: 100px;}


@media (min-width: 768px) {

    /* show 3 items*/
    .carousel-inner-eshop .active,
    .carousel-inner-eshop .active + .carousel-item-eshop,
    .carousel-inner-eshop .active + .carousel-item-eshop + .carousel-item-eshop,
    .carousel-inner-eshop .active + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop  {
        display: block;
    }
    
    .carousel-inner-eshop .carousel-item-eshop.active:not(.carousel-item-eshop-right):not(.carousel-item-eshop-left),
    .carousel-inner-eshop .carousel-item-eshop.active:not(.carousel-item-eshop-right):not(.carousel-item-eshop-left) + .carousel-item-eshop,
    .carousel-inner-eshop .carousel-item-eshop.active:not(.carousel-item-eshop-right):not(.carousel-item-eshop-left) + .carousel-item-eshop + .carousel-item-eshop,
    .carousel-inner-eshop .carousel-item-eshop.active:not(.carousel-item-eshop-right):not(.carousel-item-eshop-left) + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop {
        transition: none;
    }
    
    .carousel-inner-eshop .carousel-item-eshop-next,
    .carousel-inner-eshop .carousel-item-eshop-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner-eshop .active.carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction*/
    .active.carousel-item-eshop-left + .carousel-item-eshop-next.carousel-item-eshop-left,
    .carousel-item-eshop-next.carousel-item-eshop-left + .carousel-item-eshop,
    .carousel-item-eshop-next.carousel-item-eshop-left + .carousel-item-eshop + .carousel-item-eshop,
    .carousel-item-eshop-next.carousel-item-eshop-left + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop,
    .carousel-item-eshop-next.carousel-item-eshop-left + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations*/
    .carousel-inner-eshop .carousel-item-eshop-prev.carousel-item-eshop-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-eshop-right + .carousel-item-eshop-prev.carousel-item-eshop-right,
    .carousel-item-eshop-prev.carousel-item-eshop-right + .carousel-item-eshop,
    .carousel-item-eshop-prev.carousel-item-eshop-right + .carousel-item-eshop + .carousel-item-eshop,
    .carousel-item-eshop-prev.carousel-item-eshop-right + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop,
    .carousel-item-eshop-prev.carousel-item-eshop-right + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop + .carousel-item-eshop {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
    }

}

#eshop-carousel .carousel-control-next,
#eshop-carousel .carousel-control-prev {
      width: 1%;
}


/* ----------------------------------------------------------------------------------------------------

	SINGLE PRODUCT PAGE

---------------------------------------------------------------------------------------------------- */

/* SINGLE PRODUCT PAGE BREACRUMBS*/

@media (max-width: 882px) {
	#breadcrumb-screen-xs {display: block;}
	#breadcrumb-screen-lg { display: none;}
}
@media (min-width: 883px) {
	#breadcrumb-screen-xs {display: none;}
	#breadcrumb-screen-lg {display: block;}
}

/* ---------------------------
	SECTION SINGLE PRODUCT
--------------------------- */

#product-single-display {margin: 60px auto 100px;}

/* SINGLE PRODUCT CAROUSEL */

#single-product-carousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#single-product-carousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#single-product-carousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#single-product-carousel .carousel-indicators > li.active img {opacity: 1;}

#product-slider .carousel-control {
	position: absolute;
	top: 50%;
	color: #262626;
	font-size: 24px;
}

#product-slider .carousel-control.right {right:15px;}
#product-slider .carousel-control.left {left:15px;}

/* PRODUCT DESCRIPTION */

#product-single-display .text-box {padding: 60px 40px 15px}

@media (max-width: 1024px){
	#product-single-display .text-box {
		padding: 60px 15px; 
		width:95%;
	}
}

.single-product-price {font-size:24px; margin: 15px 0;}

#single-product-accordion {margin-bottom: 30px;}
#single-product-accordion h6 {font-size: 14px;}

#single-product-accordion .card-header {
	background-image: url('../img/icon-caret-down.png');
	background-position: center right;
	background-repeat: no-repeat;
	background-color: transparent;
	border-bottom: 2px solid #262626;
}

#product-size, #product-shop {margin-bottom: 30px;}

#product-size a {margin-right: -2px;}

#product-size .btn:focus {
	background-color: #262626;
	color: #ffffff;
	box-shadow: none;
}
@media (max-width:340px){
	#add-to-cart {margin-bottom: 15px;}
}


#product-share {padding: 20px 0 0;}

#product-share i {
	font-size: 12px;
	background: #262626;
	padding: 10px;
	border-radius: 50%;
	color: #ffffff;
}

#product-share .fa-facebook-f {padding: 10px 14px;}

/* ---------------------------
	SECTION PRODUCT SIMILAR
--------------------------- */

#product-similar {
	padding: 60px 0 100px;
	background-color:  #fcf9fa;
}
#product-similar .card {
	background-color: transparent;
	border: none;
	border-radius: 0;
}


/* ----------------------------------------------------------------------------------------------------

	CONTACT PAGE

---------------------------------------------------------------------------------------------------- */

#contact-title {padding: 30px;}

#contact-form {margin-bottom: 100px;}

#contact-form .text-box {
	padding: 60px;
}
@media (max-width: 768px){
	
	#contact-form .text-box {
	padding: 60px 30px;
	width: 95%;
	margin: 0 auto;
	}
}

#contact-form input[type=text], #contact-form input[type=email] {
	height: 50px;
	border: 2px solid #262626;
	border-radius: 0;
}

#contact-form textarea.form-control {
	border: 2px solid #262626;
	border-radius: 0;
}

#contact-form label {display:none;}

/* ----------------------------------------------------------------------------------------------------

	MARQUES / BRAND PAGE

---------------------------------------------------------------------------------------------------- */

#brand-page-title {height: 250px; padding: 50px 30px;}

.designersWrapper .sticky-top {z-index: 1029; top: 143px;}

#letter-index {
	font-size: 40px;
	font-family: 'VT323', monospace;
	text-align: center;
}

#letter-index .disabled {color: #cccccc;}

#letter-index ul {margin: 0.5rem 0;}

#publicity-brand {margin-top: 60px;}

#publicity-brand .card-img-overlay {background-color: rgba(255,255,255,0.5);}

#azList {position: relative; margin-bottom: 50px;}

#azList .designer-key {
 font-size:30px;
 font-weight: 900;
 text-align: center;
 padding-right:13px;
 clear:left;
 margin-top:4px;
 width:16%;
 min-height:1px;
 float:left;
 line-height:50px
}

@media (max-width: 1025px){	

	#letter-index {display:none;}

	#azList {
		display:inline-block;
		vertical-align:top;
		padding-top: 0 !important;
	}
}

@media (min-width:640px) {
	 #azList .designer-key {
	  font-size:36px;
	  padding-right:30px;
	  line-height:50px
 }

 body.reversed #azList .designer-key {
  padding-left:30px;
  padding-right:0
 }
}

body.reversed #azList .designer-key {
 float:right;
 padding-right:0
}

#azList ul {
 padding-top:10px;
 margin-bottom:8px;
 width:84%;
 min-height:1px;
 float:left;
 list-style:none
}

#azList ul::after {
 display:table;
 clear:both;
 content:""
}

#azList li {
 width:50%;
 height:51px;
 padding-top:6px;
 padding-right:10px;
 letter-spacing:.5px;
 line-height:16px;
 min-height:1px;
 float:left
}

@media (min-width:640px) {
	#azList li {
		padding-top:4px
	}
}

body.reversed #azList li {
 float:right;
 text-align:right
}

@media (min-width:640px) {
	#azList li {
		width:33.3333%;
		height:40px
	}
}

#designer-az-hoverbox {
 display:none;
 position:absolute;
 background:#fff;
 padding:10px;
 margin-left:20px;
 margin-top:-20px;
 width:350px;
 min-height:320px;
 border:1px solid #d3d3d3;
 z-index:1
}

#designer-az-hoverbox .title {
 font-size:22px;
 line-height:24px;
 text-transform:uppercase;
 text-align:center;
 margin-bottom:5px
}

#designer-az-hoverbox .sr-product-list {
 width:100%;
 text-align:center
}

#designer-az-hoverbox .sr-product-list>li {
 display:inline-block;
 padding:5px 20px;
 width:160px
}


